@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
  }
  .dark {
    --background: #1c1c1c;
    --accent: #52898a;
    --primary: #dfdede;
    --muted: #a7a7a7;
  }
  .light {
    --background: #fff;
    --accent: #52898a;
    --primary: #000;
    --muted: #242424;
  }
  .dark .nav__item .animated__underline {
    width: 0;
    border-bottom: 2px solid #fff;
  }

  .dark .nav__item:hover .animated__underline {
    width: 20px;
    border-bottom: 2px solid #fff;
    transition: width 0.2s;
  }
  .nav__item .animated__underline {
    width: 0;
    border-bottom: 2px solid #000;
  }

  .nav__item:hover .animated__underline {
    width: 20px;
    border-bottom: 2px solid #000;
    transition: width 0.2s;
  }

  .home__wrap > * {
    border-radius: 0.5rem;
  }
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: black;
    cursor: pointer;
  }
  input[type='range']::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: black;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .dark input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    appearance: none;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
  }
}

@layer components {
  .footer__section {
    @apply flex flex-col items-start justify-center col-span-6 lg:col-span-3 text-left pb-4 lg:pb-0;
  }
  .footer__header {
    @apply pb-2 font-bold dark:text-white dark:opacity-[.87];
  }
  .footer__link {
    @apply py-1 lg:py-2 text-black/70 dark:text-white dark:opacity-[.37] dark:hover:opacity-[.65] cursor-pointer;
  }
  .calc__input {
    @apply dark:bg-white h-2 rounded-md;
  }
  .contact__input {
    @apply py-2 pl-1 rounded-md my-1 outline-none dark:bg-[#1c1c1c];
  }
  .contact__detail {
    @apply dark:opacity-50;
  }
}
