@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
  }
  .dark {
    --background: #1c1c1c;
    --accent: #52898a;
    --primary: #dfdede;
    --muted: #a7a7a7;
  }
  .light {
    --background: #fff;
    --accent: #52898a;
    --primary: #000;
    --muted: #242424;
  }
  .nav__item .animated__underline {
    width: 0;
    border-bottom: 2px solid #fff;
  }

  .nav__item:hover .animated__underline {
    width: 20px;
    border-bottom: 2px solid #fff;
    transition: width 0.2s;
  }

  .home__wrap > * {
    border-radius: 0.5rem;
  }
}

@layer components {
  .footer__section {
    @apply flex flex-col items-start justify-center col-span-6 lg:col-span-3 text-left pb-4 lg:pb-0;
  }
  .footer__header {
    @apply pb-2 font-bold dark:text-white dark:opacity-[.87];
  }
  .footer__link {
    @apply py-1 lg:py-2 text-black/70 hover:opacity-50 dark:text-white dark:opacity-[.37] dark:hover:opacity-[.65] cursor-pointer;
  }
}
